<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        管理收货地址
    </header>
    <div class="content" style="padding-top: 50px;">

    </div>

    <!--添加新地址-->
    <div class="botarea bgz colb textcen lh50" linkto="{:U('Member/editadd')}">
        添加新地址
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
    if (top_user) {
        requestUrl("{:U('Api/Address/addressList')}",{m_id:top_user.m_id},viewAddList);
    }else{
        getUserInfo("{:U('Member/login')}");
    }
    function viewAddList(res) {
        console.log(res);
        if (res.flag == "success") {
            var addList = res.data;
            if ( addList.length > 0) {
                viewAdd(addList);
            }
        }else{
            alert(res.message);
        }
    }

    function viewAdd(addressList){
        var str = "";
        for(var obj of addressList){
            str += '<div class="address">'
            +'<div class="colbl goback" addid="'+obj.address_id+'">'
                +'<span class="name">'+obj.name+'</span>'
                +'<span class="fr tel">'+obj.tel+'</span>'
            +'</div>'
            +'<div class="goback" addid="'+obj.address_id+'">'
                +((obj.is_default == "1") ? '<span class="smbtn bgbtn colb pad5-10 borad4">默认</span>' : "")
                +'<span class="address">'+obj.address+'</span>'
            +'</div>'
            +'<div class="playadd">'
                +'<span class="fr cole icondel" addid="'+obj.address_id+'">删除</span>'
                +'<span class="fr cole iconedi mar5" addid="'+obj.address_id+'">编辑</span>'
            +'</div>'
        +'</div>'
        }
        $(".content").html(str);
        clickEvent();
    }


    <if condition="isset($_REQUEST['order'])">
        $(function(){
            $(".goback").on('click',function(){
                var self = $(this);
                var curaddress = {
                    "name" : self.siblings().find(".name").text(),
                    "tel" : self.siblings().find(".tel").text(),
                    "address" : self.siblings().find(".address").text(),
                    "address_id" : self.attr("addid")
                };
                sessionStorage.setItem("curaddress",JSON.stringify(curaddress));
                window.location.href = "{:U('Order/setorder')}";
            });
        });
    </if>

    function clickEvent(){
        $(".icondel").on('click',function() {
            var flag = confirm("您确认删除该地址吗？");
            if (flag) {
                var self = $(this);
                requestUrl("{:U('Api/Address/deleteAddress')}",{"address_id":self.attr("addid")},function(res) {
                    if (res.flag == "success") {
                        location.reload();
                    }else{
                        alert(res.message);
                    }
                })
            }
        });


        $(".iconedi").on('click',function() {
            var self = $(this);
            requestUrl("Api/Address/addressInfo",{"address_id":self.attr("addid")},function (res) {
                if (res.flag == "success") {
                    var addobj = sessionStorage.setItem("locaadd",JSON.stringify(res.data));
                    window.location.href = "{:U('Member/editadd')}&address_id="+self.attr("addid");
                }
            });
        });
    }
    </script>
</block>