<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        管理收货地址
    </header>
    <div class="content" style="padding-top: 50px;">

    </div>

    <!--添加新地址-->
    <div class="botarea bgz colb textcen lh50" linkto="{:U('Member/editadd')}">
        添加新地址
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
    if (top_user) {
        requestUrl("{:U('Api/Address/addressList')}",{m_id:top_user.m_id},viewAddList);
    }else{
        getUserInfo("{:U('Member/login')}");
    }
    function viewAddList(res) {
        console.log(res);
        if (res.flag == "success") {
            var addList = res.data;
            if ( addList.length > 0) {
                viewAdd(addList);
            }
        }else{
            alert(res.message);
        }
    }

    function viewAdd(addressList){
        var str = "";
        for(var obj of addressList){
            str += '<div class="address">'
            +'<div class="colbl">'
                +'<span class="">'+obj.name+'</span>'
                +'<span class="fr">'+obj.tel+'</span>'
            +'</div>'
            +'<div>'
                +((obj.is_default == "1") ? '<span class="smbtn">默认</span>' : "")
                +'<span>'+obj.address+'</span>'
            +'</div>'
            +'<div class="playadd">'
                +'<span class="fr cole icondel" addid="'+obj.address_id+'">删除</span>'
                +'<span class="fr cole iconedi mar5" addid="'+obj.address_id+'">编辑</span>'
            +'</div>'
        +'</div>'
        }
        $(".content").html(str);
    }
    </script>
</block>