<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
        管理收货地址
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="address">
            <div class="colbl">
                <span class="">张涛</span>
                <span class="fr">1888888888</span>
            </div>
            <div>
                <span class="colb bgbtn borad4 pad5-10">默认</span>
                <span>天津市南开区鑫茂科技园B区1号楼1809</span>
            </div>
            <div class="playadd">
                <span class="fr cole icondel">删除</span>
                <span class="fr cole iconedi mar5">编辑</span>
            </div>
        </div>

        <div class="address">
            <div class="colbl">
                <span class="">张涛</span>
                <span class="fr">1888888888</span>
            </div>
            <div>
                <span>天津市南开区鑫茂科技园B区1号楼1809</span>
            </div>
            <div class="playadd">
                <span class="fr cole icondel">删除</span>
                <span class="fr cole iconedi mar5">编辑</span>
            </div>
        </div>

        <div class="address">
            <div class="colbl">
                <span class="">张涛</span>
                <span class="fr">1888888888</span>
            </div>
            <div>
                <span>天津市南开区鑫茂科技园B区1号楼1809</span>
            </div>
            <div class="playadd">
                <span class="fr cole icondel">删除</span>
                <span class="fr cole iconedi mar5">编辑</span>
            </div>
        </div>

        <div class="address">
            <div class="colbl">
                <span class="fr">1888888888</span>
            </div>
            <div>
                <span class="smbtn">默认</span>
                <span>天津市南开区鑫茂科技园B区1号楼1809</span>
            </div>
            <div class="playadd">
                <span class="fr cole icondel">删除</span>
                <span class="fr cole iconedi mar5">编辑</span>
            </div>
        </div>
    </div>

    <!--添加新地址-->
    <div class="botarea bgz colb textcen lh50">
        添加新地址
    </div>
    </body>
</block>
<block name="script">

</block>