<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
        <span class="pfr poab mar10">完成</span>
        添加银行卡
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="pad20 textcen bgb">
            <img src="__IMG__/result.png" class="mat20" style="width: 100px;height: 100px;"/>
            <div class="mat20 colbl">添加成功!</div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
</block>