<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
        <span class="pfr mar10">添加</span>
        我的银行卡
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="">

            <div class="pad0-20 borad4 bgb pore borb31">
                <div class="lh14">
    					<span class="fl mar10">
    						<img src="__IMG__/ccb.png" class="mat10" style="height: 40px;"/>
    					</span>
                    <div class="lh20 pad10">
                        <div class="">建设银行</div>
                        <div class="cole fs14">尾号9070储蓄卡</div>
                    </div>
                </div>
                <div class="poab colb cancel iconcancel borad4 fs12">取消关联</div>
            </div>

            <div class="pad0-20 borad4 bgb pore borb31">
                <div class="lh14">
    					<span class="fl mar10">
    						<img src="__IMG__/ccb.png" class="mat10" style="height: 40px;"/>
    					</span>
                    <div class="lh20 pad10">
                        <div class="">建设银行</div>
                        <div class="cole fs14">尾号9070储蓄卡</div>
                    </div>
                </div>
                <div class="poab colb cancel iconcancel borad4 fs12">取消关联</div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">

</block>