<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz">
		<span class="pfr local pore" linkto="">
			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
		</span>
        <!-- 通过 colb 和cole来切换字体颜色 -->
        <span class="cole bor1px pad0-10" linkto="{:U('Member/collection')}">商品</span>
        <span class="colb pad0-10">店铺</span>
    </header>
    <div class="content" style="padding: 50px 0px;">
        <div class="shoplist">
        </div>
    </div>
    <footer class="bgz">
        <div linkto="{:U('Index/index')}">
            <span>首页</span>
        </div>
        <div linkto="{:U('Index/discover')}">
            <span>发现</span>
        </div>
        <div class="on">
            <span>收藏</span>
        </div>
        <div linkto="{:U('Member/shopcart')}">
            <span>购物车</span>
        </div>
        <div linkto="{:U('Member/self')}">
            <span>我的</span>
        </div>
    </footer>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        $(".borbtn").on('click',function(){
            confirm("您确定要删除收藏吗？");
        });


        if (!top_user) getUserInfo("{:U('Member/login')}");

        var flag= true;//防止ajax请求期间，对此触发请求数据
        var dataargs = {p:1,m_id:top_user.m_id};
        //添加商品到列表
        function putGoods(data,args) {
            if(data.flag == 'success'){
                var goods = data.data.merchant;
                if((!goods || goods.length == 0 ) && args == "fenye"){
                    $(".content").append('<div class="textcen">没有更多了！</div>');
                }else{
                    var str ="";
                    for(var merchant of goods){
                       str += '<div class="shop pad20 borb31 bgb">'
                                    +'<img src="'+merchant.head_pic+'" />'
                                    +'<div class="shopdec lh50">'
                                        +'<p>'
                                            +'<span class="mar5">'+merchant.merchant_name+'</span>'
                                            +'<span class="bor1b bora50 colbl disib fs12 wh20">H</span>'
                                        +'</p>'
                                    +'</div>'
                                    +'<div class="fr borbtn lh14 colz mat10 iconcancel" merchant_id ="'+merchant.merchant_id+'">取消收藏</div>'
                                +'</div>';
                    }
                    if (args == "fenye") {
                        $('.shoplist').append(str);
                    }else{
                        $('.shoplist').html(str);
                    }
                    flag = true;
                }
            }else{
                alert(data.message);
            }

            if (args == "shouci") {
                fenye();
            }
        }


        function getJson(args) {
            console.log(dataargs);
            $.ajax({
                url: '{:U("Api/Collect/collectMerchantList")}',
                type: 'POST',
                dataType: 'JSON',
                data: dataargs,
                success : function(data){
                    putGoods(data,args);
                }
            });
        }

        $(function(){
            getJson("shouci");
        });
        function fenye(){
            var $_zd = $(".shop").height();//获取每个单项的高度
            var length = 3;//定义预加载的数量，提前三个加载数据
            var $_par = $(".shoplist");//获取包裹容器
            var winheight = $(window).height();//获取窗口高度
            $(function(){
                $(window).on("scroll",function(e){
                    if(flag){
                        var self = $(this);
                        var scrtop = self.scrollTop() + winheight;
                        var docheight = $_par.height();
                        console.log(scrtop + "=" + docheight + "=" + $_zd);
                        if(scrtop > docheight - ( length * $_zd ) ){
                            flag = false;
                            dataargs.p = dataargs.p +1;
                            getJson("fenye");
                        }
                    }
                });
            });
        }

        function clickEvent(){
            $(".iconcancel").on('click',function() {
               var flag = confirm("您确定要取消收藏吗？");
               var self = $(this);
               if ( flag ) {
                var merchant_id = self.attr("merchant_id");
                var data = {
                    "m_id" : top_user.m_id,
                    "merchant_id" : merchant_id
                };
                requestUrl("{:U('Api/Collect/exitCollectMerchant')}",data,function(res) {
                    if (res.flag == "success") {
                        self.parents(".shop").remove();
                    }else{
                        alert(res.message);
                    }
                })
               } 
            });
        }
    </script>
</block>