<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz">
		<span class="pfr local pore" linkto="">
			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
		</span>
        <!-- 通过 colb 和cole来切换字体颜色 -->
        <span class="colb bor1px pad0-10">商品</span>
        <span class="cole pad0-10" linkto="{:U('Member/collectionshop')}">店铺</span>
    </header>
    <div class="content" style="padding: 50px 0px;">
        <div class="goodlist ovhid">
            
        </div>
    </div>
    <footer class="bgz">
        <div linkto="{:U('Index/index')}">
            <span>首页</span>
        </div>
        <div linkto="{:U('Index/discover')}">
            <span>发现</span>
        </div>
        <div class="on">
            <span>收藏</span>
        </div>
        <div linkto="{:U('Member/shopcart')}">
            <span>购物车</span>
        </div>
        <div linkto="{:U('Member/self')}">
            <span>我的</span>
        </div>
    </footer>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        $(".borbtn").on('click',function(){
            confirm("您确定要删除收藏吗？");
        });

        if (!top_user) getUserInfo("{:U('Member/login')}");

        var flag= true;//防止ajax请求期间，对此触发请求数据
        var dataargs = {p:1,m_id:top_user.m_id};
        //添加商品到列表
        function putGoods(data,args) {
            if(data.flag == 'success'){
                var goods = data.data.goods;
                if((!goods || goods.length == 0 ) && args == "fenye"){
                    $(".content").append('<div class="textcen">没有更多了！</div>');
                }else{
                    var str ="";
                    for(g in goods){
                       str += '<div class="good bgb">'
                                +'<div class="imgbag">'
                                    +'<img src="'+goods[g]['goods_pic']+'"/>'
                                +'</div>'
                                +'<div class="pad0-10" style="padding-top:0px;">'
                                    +'<div class="goodname lh20 ovhid">'
                                        +goods[g]['goods_name']
                                    +'</div>'
                                    +'<div class="lh30 price fs14 colr">'
                                        +'￥<span class="fs16">'
                                            +goods[g]['price']
                                        +'</span>'
                                    +'</div>'
                                    +'<div>'
                                        +'<div class="fr borbtn lh14 colz mar5 iconcan" goodid="'+goods[g]['goods_id']+'">取消收藏</div>'
                                    +'</div>'
                                +'</div>'
                            +'</div>';
                    }
                    if (args == "fenye") {
                        $('.goodlist').append(str);
                    }else{
                        $('.goodlist').html(str);
                    }
                    clickEvent();
                    flag = true;
                }
            }else{
                alert(data.message);
            }

            if (args == "shouci") {
                fenye();
            }
        }


        function getJson(args) {
            console.log(dataargs);
            $.ajax({
                url: '{:U("Api/Collect/collectGoodsList")}',
                type: 'POST',
                dataType: 'JSON',
                data: dataargs,
                success : function(data){
                    putGoods(data,args);
                }
            });
        }

        $(function(){
            getJson("shouci");
        });
        function fenye(){
            var $_zd = $(".good").height();//获取每个单项的高度
            var length = 3;//定义预加载的数量，提前三个加载数据
            var $_par = $(".goodlist");//获取包裹容器
            var winheight = $(window).height();//获取窗口高度
            $(function(){
                $(window).on("scroll",function(e){
                    if(flag){
                        var self = $(this);
                        var scrtop = self.scrollTop() + winheight;
                        var docheight = $_par.height();
                        console.log(scrtop + "=" + docheight + "=" + $_zd);
                        if(scrtop > docheight - ( length * $_zd ) ){
                            flag = false;
                            dataargs.p = dataargs.p +1;
                            getJson("fenye");
                        }
                    }
                });
            });
        }


        function clickEvent(){
            $(".iconcan").on('click',function() {
               var flag = confirm("您确定要取消收藏吗？");
               var self = $(this);
               if ( flag ) {
                var goods_id = self.attr("goodid");
                var data = {
                    "m_id" : top_user.m_id,
                    "goods_id" : goods_id
                };
                requestUrl("{:U('Api/Collect/exitCollectGoods')}",data,function(res) {
                    if (res.flag == "success") {
                        self.parents(".good").remove();
                    }else{
                        alert(res.message);
                    }
                })
               } 
            });
        }
    </script>
</block>