<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz">
		<span class="pfr local pore" linkto="">
			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
		</span>
        <!-- 通过 colb 和cole来切换字体颜色 -->
        <span class="colb bor1px pad0-10">商品</span>
        <span class="cole pad0-10" linkto="{:U('Member/collectionshop')}">店铺</span>
    </header>
    <div class="content" style="padding: 50px 0px;">
        <div class="goodlist ovhid">
            <div class="good bgb">
                <div class="imgbag" linkto="goodinfo.html">
                    <img src="__IMG__/good.png" />
                </div>
                <div class="pad0-10" style="padding-top:0px;">
                    <div class="goodname fs14 lh20" linkto="goodinfo.html">
                        法国AOC领衔红酒  意大利干红葡萄酒2支组合
                    </div>
                    <div class="lh30 price fs14 colr">￥<span class="fs16">550.00</span></div>
                    <div class="">
                        <div class="fr borbtn lh14 colz mar5">取消收藏</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shoplist">
            <div class="shop pad20 borb31 bgb">
                <img src="__IMG__/shoplogo.png" />
                <div class="shopdec lh50" linkto="shopinfo.html">
                    <p>
                        <span class="mar5">达产官方旗舰店</span>
                        <span class="bor1b bora50 colbl disib fs12 wh20">H</span>
                    </p>
                </div>
                <div class="fr borbtn lh14 colz mat10">取消收藏</div>
            </div>
        </div>
    </div>
    <footer class="bgz">
        <div linkto="{:U('Index/index')}">
            <span>首页</span>
        </div>
        <div linkto="{:U('Index/discover')}">
            <span>发现</span>
        </div>
        <div class="on">
            <span>收藏</span>
        </div>
        <div linkto="{:U('Member/shopcart')}">
            <span>购物车</span>
        </div>
        <div linkto="{:U('Member/self')}">
            <span>我的</span>
        </div>
    </footer>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        $(".borbtn").on('click',function(){
            confirm("您确定要删除收藏吗？");
        });
    </script>
</block>