<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        <span class="poab pfr mar10 saveadd">保存</span>
        <span class="title">
            <if condition="isset($_REQUEST['address_id'])">修改地址
            <else/>添加新地址
            </if>
        </span>
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="formline pad0-10">
            <div>
                <span class="disib" style="width: 100px;">收货人：</span>
                <input type="text" class="name" placeholder="请填写姓名"/>
            </div>
            <div>
                <span class="disib" style="width: 100px;">联系电话：</span>
                <input type="text" class="tel" placeholder="请填写手机号码"/>
            </div>
            <div class="pore" linkto="{:U('Member/setpro')}">
                <span class="right fr mat15"></span>
                <span class="fr mar5 cole">请选择</span>
                <span class="disib" style="width: 100px;">所在地区：</span>
                <input type="text" class="address poab" style="left:115px;top:17px;" placeholder="选择取货地址" readonly="true"/>
            </div>
            <div>
                <input type="text" class="house" placeholder="详细地址如门牌号等"/>
            </div>
        </div>

        <div class="formline paytype mat20">
            <div class="top_check mar10"><span class="iconcheck fr"></span>设为默认地址</div>
        </div>

        <if condition="isset($_REQUEST['address_id'])">
            <div class="botarea bgz colb textcen lh50 fs16 deladd" addid="{$_REQUEST['address_id']}">
                删除
            </div>
        </if>
        

    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        var jsonstr = sessionStorage.getItem("areaadd");
        var locastr = sessionStorage.getItem("locaadd");
        var addobj = {};
        var locaadd = {};
        var areaadd = {};

        if (locastr) {
            locaadd = JSON.parse(locastr);
            for(var key in locaadd){
                $("."+key).val(locaadd[key]);
            }
            if (locaadd.is_default == 1) {
                $(".top_check").addClass("on");
            }
        }

        if (jsonstr) {
            areaadd = JSON.parse(jsonstr);
            addobj = areaadd.addobj;
            $(".address").val(areaadd.address);
        }

        $("div input").on('change',function() {
           var self = $(this);
           if (self.hasClass("name")) {
                locaadd.name = self.val();
           }else if (self.hasClass("tel")) {
                locaadd.tel = self.val();
           }else if (self.hasClass("house")) {
                locaadd.house = self.val();
           }
           sessionStorage.setItem("locaadd",JSON.stringify(locaadd));
        });

        //单选回调
        function checkAfter(self){
            if (self.hasClass("on")) {
                locaadd.is_default = 1;
            }else {
                locaadd.is_default = 0;
            }
           sessionStorage.setItem("locaadd",JSON.stringify(locaadd));
        }
        //保存事件绑定
        $(".saveadd").on('click',function() {
            if (!top_user)getUserInfo("{:U('Member/login')}");
            locaadd.m_id = top_user.m_id;
            if (addid['province_id']) {
                locaadd.province_id = addobj.province_id;
                locaadd.city_id = addobj.city_id;
                locaadd.area_id = addobj.area_id;
            }
            if (areaadd.address && locaadd.house) {
                locaadd.address = areaadd.address + locaadd.house;
            }
            <if condition="isset($_REQUEST['address_id'])">
            requestUrl("{:U('Api/Address/ModifyAddress')}",locaadd,callback);
            <else/>
            requestUrl("{:U('Api/Address/addAddress')}",locaadd,callback);
            </if>
            
        })

        //保存回调
        function callback(res) {
            if (res.flag == "success") {
                sessionStorage.removeItem("areaadd");
                sessionStorage.removeItem("locaadd");
                window.location.href = "{:U('Member/addresslist')}";
            }else{
                alert(res.message);
            }
        }


        <if condition="isset($_REQUEST['address_id'])">

        $(".deladd").on('click',function() {
            var flag = confirm("您确认删除该地址吗？");
            if (flag) {
                var self = $(this);
                requestUrl("{:U('Api/Address/deleteAddress')}",{"address_id":self.attr("addid")},function(res) {
                    if (res.flag == "success") {
                        history.go(-1);
                    }else{
                        alert(res.message);
                    }
                })
            }
        });
        </if>
    </script>
</block>