<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
        B层
    </header>
    <div class="content" style="padding: 50px 0px;">

        <div class="shoplist">
            <div class="shop pad20 borb31 bgb cole">
                <span class="lh50 disib fl mar10">07.28</span>
                <img src="__IMG__/shoplogo.png" class="bora50"/>
                <div class="shopdec lh25">
                    <p>
                        <span class="mar5">消费：￥100.00</span>
                    </p>
                    <p>
                        <span class="mar5">用户8665</span>
                    </p>
                </div>
                <div class="fr lh25 mat10">返利:<span class="col2">￥10.00</span></div>
            </div>

            <div class="shop pad20 borb31 bgb cole">
                <span class="lh50 disib fl mar10">07.28</span>
                <img src="__IMG__/shoplogo.png" class="bora50"/>
                <div class="shopdec lh25">
                    <p>
                        <span class="mar5">消费：￥100.00</span>
                    </p>
                    <p>
                        <span class="mar5">用户8665</span>
                    </p>
                </div>
                <div class="fr lh25 mat10">返利:<span class="col2">￥10.00</span></div>
            </div>

            <div class="shop pad20 borb31 bgb cole">
                <span class="lh50 disib fl mar10">07.28</span>
                <img src="__IMG__/shoplogo.png" class="bora50"/>
                <div class="shopdec lh25">
                    <p>
                        <span class="mar5">消费：￥100.00</span>
                    </p>
                    <p>
                        <span class="mar5">用户8665</span>
                    </p>
                </div>
                <div class="fr lh25 mat10">返利:<span class="col2">￥10.00</span></div>
            </div>

        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
</block>