<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
        <span>我的级别</span>
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="invitetop" style="background-image: url('__IMG__/levelbg.png');height: 200px;">
            <div class="textcen colb">
                <img src="__IMG__/levellogo.png" style="height: 120px;"/>
                <div class="mat20 fs14">
                    <span class="colbl lh50 fs24 pad5-10 bgba" style="border-radius: 25px;">银牌会员</span>
                </div>
            </div>
        </div>

        <div class="pad0-20 mat10 bgb">
            <div class="fs14 lh50">我邀请的会员</div>
            <div class="lh40 macen cole fs12 rangepar">
                <div class="pore">
                    <span class="pfl">B级会员</span>
                    <div class="pore range" total="15" cur="6"><span></span></div>
                    <span class="pfr">15人</span>
                </div>
                <div class="pore">
                    <span class="pfl">B级会员</span>
                    <div class="pore range" total="12" cur="2"><span></span></div>
                    <span class="pfr">15人</span>
                </div>
                <div class="pore">
                    <span class="pfl">B级会员</span>
                    <div class="pore range" total="3" cur="2"><span></span></div>
                    <span class="pfr">15人</span>
                </div>
                <div class="pore">
                    <span class="pfl">B级会员</span>
                    <div class="pore range" total="22" cur="21"><span></span></div>
                    <span class="pfr">15人</span>
                </div>
                <div class="pore">
                    <span class="pfl">B级会员</span>
                    <div class="pore range" total="100" cur="0"><span></span></div>
                    <span class="pfr">15人</span>
                </div>
            </div>
        </div>

        <div class="formline mat10 pad0-10">
            <div class="">
                <span class="right fr mat15"></span>
                <span>等级特权</span>
            </div>
            <div class="">
                <span class="right fr mat15"></span>
                <span>如何升级</span>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    
</block>