<extend name="Public/base" />

<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
        <span class="poab pfr mar10">银行卡</span>
        我的钱包
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="bgb pad20 lh40">
            <div class="iconyueh">余额</div>
            <div class="colr fs24">￥100.00</div>
        </div>
        <div class="bgb pad20 lh40 mat10">
            <div class="iconjs">结算中余额</div>
            <div class="cole fs24">￥6.00</div>
        </div>
        <div class="line mat10">
            <div class="iconchz">充值</div>
            <div class="icontx">提现</div>
            <div class="iconmx">账单明细</div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
</block>