<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="iconset poab"></span>
    		<span class="pfr local pfr">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <div class="">
            我的
        </div>
    </header>
    <div class="content" style="padding: 50px 0px 60px;">
        <div class="selftop bgb pad20 borb31 ovhid lh50" linkto="{:U('Member/selfinfo')}">
            <div class="fr fs14">
                <span class="right fr mat15"></span>
                <span class="">个人资料</span>
            </div>
            <div class="fl">
                <img src="" class="hearder"/>
                <span class="nickname"></span>
                <img src="__IMG__/levela.png" class="ulevel mat15"/>
            </div>
        </div>
        <div class="lines">
            <div class="icondd" linkto="{:U('Order/orderlist')}">
                <span class="right fr mat15"></span>我的订单
            </div>
        </div>

        <div class="line">
            <div class="iconqb" linkto="{:U('Member/mywallet')}"><span class="right fr mat15"></span>我的钱包</div>
            <div class="icondz" linkto="{:U('Member/addresslist')}"><span class="right fr mat15"></span>收货地址</div>
            <div class="iconpj" linkto="{:U('Order/ratelist')}"><span class="right fr mat15"></span>我的评价</div>
            <div class="iconzj" linkto="{:U('')}"><span class="right fr mat15"></span>我的足迹</div>
        </div>
        <div class="line">
            <div class="iconyq" linkto="{:U('Member/mylevel')}><span class="right fr mat15"></span>邀请人数</div>
            <div class="iconfx"><span class="right fr mat15"></span>分享赚钱</div>
        </div>
        <div class="line">
            <div class="iconjf"><span class="right fr mat15"></span>积分商城</div>
            <div class="iconax"><span class="right fr mat15"></span>爱心捐助</div>
        </div>
        <div class="line">
            <div class="icontl"><span class="right fr mat15"></span>服务热线</div>
            <div class="iconbz"><span class="right fr mat15"></span>帮助中心</div>
        </div>
    </div>
    <div class="disib gohead" linkto="{:U('IntegralMall/getgift')}">
        <img src="__IMG__/iconhongbao.png" />
    </div>

    <footer class="bgz">
        <div linkto="{:U('Index/index')}">
            <span>首页</span>
        </div>
        <div linkto="{:U('Index/discover')}">
            <span>发现</span>
        </div>
        <div linkto="{:U('Member/collection')}">
            <span>收藏</span>
        </div>
        <div linkto="{:U('Member/shopcart')}">
            <span>购物车</span>
        </div>
        <div class="on">
            <span>我的</span>
        </div>
    </footer>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script>
        if (!top_user)getUserInfo("{:U('Member/login')}");
        $(".nickname").text(top_user.nickname);
        $(".hearder").attr("src",top_user.head_pic);

    </script>
</block>