<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        设置登录密码
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="line">
            <div class="unlock"><input type="password" placeholder="请输入密码"/></div>
            <div class="unlock"><input type="password" placeholder="请再次输入密码"/></div>
        </div>
        <div class="mat30 big-btn bgz">确认</div>
    </div>
    </body>
</block>
<block name="script">
</block>