<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        <span class="title">选择省</span>
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="formline pad0-10">
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
    requestUrl("{:U('Api/Address/address')}",{},viewPro);
    function viewPro(res){
        if (res.flag == "success") {
            var pro = res.data;
            for(var add of pro){
                $("<div/>",{id:add.region_id}).text(add.region_name).appendTo(".formline");
            }
        }else{
            alert(res.message);
        }
    }
    </script>
</block>