<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        <span class="title">选择省</span>
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="formline pad0-10">
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
    requestUrl("{:U('Api/Address/address')}",{},viewPro);
    var addobj = {};
    var cur = "province_id";
    var address = "";
    function viewPro(res){
        if (res.flag == "success") {
            var pro = res.data;
            $(".formline").html("");
            for(var add of pro){
                var addele = $("<div/>",{id:add.region_id}).text(add.region_name).appendTo(".formline");
                addele.on('click',clickEvent);
            }
        }else{
            alert(res.message);
        }
    }

    function clickEvent(){
        var self = $(this);
        addobj[cur] = self.attr("id");
        address += self.text();
        if (cur == "province_id") {
            cur == "city_id";
            $(".title").text("选择市");
        }else if(cur == "city_id"){
            cur == "area_id";
            $(".title").text("选择区");
        }else{
            console.log({addobj:addobj,address:address});
        }
    }
    </script>
</block>