<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left"></span>
	    		<span class="pfr rigshe pfr">
	    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
	    		</span>
        <div class="">
            设置
        </div>
    </header>
    <div class="content" style="padding: 50px 0px 60px;">
        <div class="line" linkto="{:U('Member/updatepwd')}">
            <div class="iconupdpwd"><span class="right fr mat15"></span>修改登录密码</div>
        </div>
        <div class="line" linkto="{:U('Member/bindphone')}">
            <div class="iconbtel"><span class="right fr mat15"></span>绑定手机号</div>
        </div>
        <div class="line" linkto="{:U('About/aboutme')}">
            <div class="iconabme"><span class="right fr mat15"></span>关于我们</div>
        </div>
        <div class="bgz colb textcen big-btn mat30" linkto="{:U('Member/login')}">退出登录</div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
</block>