<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
    		<span class="pfr local pfr">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <span class="fr changeview toggle">编辑</span>
        <span class="fr changeview toggle fini" style="display: none;">完成</span>
        <span>购物车</span>
    </header>
    <div class="content" style="padding: 50px 0px 110px;">
        <div class="goodlist ovhid">
        </div>
    </div>
    <div class="disib gohead top_gohead">
        <img src="__IMG__/gohead.png" />
    </div>
    <div class="botarea lh50 bgb" style="bottom: 60px;">
        <div class="fr toggle">
            <span class="fr bgbtn pad0-10 colb putorder">结算（<span class="totalnum"></span>）</span>
				<span class="fr mar10 cole textrig">
					<div class="lh50">合计：<span class="colr">￥<span class="totalprice"></span></span></div>
					<!--<div class="lh20 fs12">含运费：￥20</div>-->
				</span>
        </div>
        <div class="toggle fr" style="display:none;">
            <span class="bgbtn colb fr pad0-20 delall">删除</span>
            <span class="colb fr bgyel pad0-10 collall">移到收藏夹</span>
        </div>

        <span class="gleygood disib all on">全选</span>
    </div>
    <footer class="bgz">
        <div linkto="{:U('Index/index')}">
            <span>首页</span>
        </div>
        <div linkto="{:U('Index/discover')}">
            <span>发现</span>
        </div>
        <div linkto="{:U('Member/collection')}">
            <span>收藏</span>
        </div>
        <div class="on">
            <span>购物车</span>
        </div>
        <div linkto="{:U('Member/self')}">
            <span>我的</span>
        </div>
    </footer>
    </body>
</block>

<block name="script">
    <script type="text/javascript">
        var cart_json = [];

        $(".changeview").on('click',function(){
            $(".toggle").toggle();
            viewTotal();
            if ($(this).hasClass("fini") && cart_json.length > 0) {
                requestUrl("{:U('Api/Cart/modifyCart')}",{"m_id":top_user.m_id,"cart_json":JSON.stringify(cart_json)},callback);
            }
        });

        function checkAfter(self){
            var playgood = self.siblings(".playgood");
            var num = parseInt(playgood.find(".goodnum").text());
            var goodprice = playgood.find("[goodprice]").attr("goodprice");
            if (!self.hasClass("on")) {
                $(".all").removeClass("on");
            }
            viewTotal();
        }

        $(".putorder").on('click',function(){
            var top_check = $(".good .top_check.on");
            if (top_check.size() > 0) {
                cart_json = [];
                top_check.each(function(){
                    cart_json.push({"cart_id":$(this).parent().attr("cart_id")});
                });
                sessionStorage.setItem("cart_json",JSON.stringify(cart_json));
                window.location.href = "{:U('Order/setgleyorder')}";
            }else{
                alert("请选中商品！");
            }
        });

        $(".delall").on('click',function(){
            var top_check = $(".good .top_check.on");
            if (top_check.size() > 0) {
                cart_json = [];
                top_check.each(function(){
                    cart_json.push({"cart_id":$(this).parent().attr("cart_id")});
                });
                requestUrl("{:U('Api/Cart/cartdelete')}",{"m_id":top_user.m_id,"cart_json":JSON.stringify(cart_json)},function(res) {
                    if (res.flag != "success") {
                        alert(res.message);
                    }else{
                        location.reload();
                    }
                });
            }else{
                alert("请选中商品！");
            }
        });

        $(".collall").on('click',function(){
            var top_check = $(".good .top_check.on");
            if (top_check.size() > 0) {
                cart_json = [];
                top_check.each(function(){
                    cart_json.push({"cart_id":$(this).parent().attr("cart_id")});
                });
                requestUrl("{:U('Api/Cart/cartCollect')}",{"m_id":top_user.m_id,"cart_json":JSON.stringify(cart_json)},function(res) {
                    if (res.flag != "success") {
                        alert(res.message);
                    }else{
                        alert(res.message);
                        location.reload();
                    }
                });
            }else{
                alert("请选中商品！");
            }
        });

        function callback(res){
            if (res.flag != "success") {
                alert(res.message);
            }
        }

        $(".all").on('click',function(){
            var self = $(this);
            if (self.hasClass('on')) {
                $(".top_check").removeClass("on");
            }else{
                $(".top_check").addClass("on");
            }
            self.toggleClass('on');
            viewTotal();
        });

        var totalprice = 0;
        var totalnum = 0;
        if (!top_user)getUserInfo("{:U('Member/login')}");
        requestUrl("{:U('Api/Cart/cartList')}",{m_id:top_user.m_id},viewAddress);

        function viewAddress(res){
            if (res.flag == "success") {
                var str = "";
                for(var good of res.data.goods){
                    str += '<div class="good bgb borb31" cart_id="'+good.cart_id+'">'
                                +'<div class="top_check on gleygood fl100"></div>'
                                +'<div class="imgbag">'
                                    +'<img src="'+good.goods_pic+'" />'
                                +'</div>'
                                +'<div class="pad0-10 goodinfo toggle">'
                                    +'<div class="goodname fs14" linkto="goodinfo.html">'
                                        +good.goods_name
                                    +'</div>'
                                    +'<div class="cole fs12">'+good.product+'</div>'
                                    +'<div class="lh30 price fs14">'
                                        +'<span class="fr goodnum">x<span carnum="'+good.cart_id+'">'+good.num+'</span></span>'
                                        +'<span class="fs16 colr">￥'+good.price+'</span>'
                                    +'</div>'
                                +'</div>'
                                +'<div class="playgood pore toggle" style="display: none;">'
                                    +'<div class="bgc playbtn disf cole lh20 fs14">'
                                        +'<div class="iconggley" cart_id="'+good.cart_id+'">'
                                            +'<span>移入收藏</span>'
                                        +'</div>'
                                        +'<div class="icongdel" cart_id="'+good.cart_id+'">'
                                            +'<span>删除</span>'
                                        +'</div>'
                                    +'</div>'
                                    +'<div class="pfr poab localmana" goodprice="'+good.price+'" cart_id="'+good.cart_id+'">'
                                        +'<span class="iconadd"></span>'
                                        +'<span class="bge goodnum">'+good.num+'</span>'
                                        +'<span class="iconjian"></span>'
                                    +'</div>'
                                +'</div>'
                            +'</div>';
                }
                $(".goodlist").html(str);
                viewTotal();
                top_check();
                clickEvent();
            }else{
                alert(res.message);
            }
        }

        function clickEvent(){
            var price = 0;
            var num = 0;
            var cart_id = 0;
            $(".iconjian,.iconadd").on("click",function(){
                var self = $(this);
                var parent =self.parent();
                price = parent.attr("goodprice");
                num = parseInt(self.siblings(".goodnum").text());
                cart_id = parent.attr("cart_id");
                if (self.is(".iconjian")) {
                    if (num > 1) {
                        num -= 1;
                    }else{
                        self.parents(".good").remove();
                    }
                }else if (self.is(".iconadd")) {
                    num += 1;
                }
                parent.find(".goodnum").text(num);
            });

            $(".playbtn [cart_id]").on('click',function(){
                var self = $(this);
                cart_json = [];
                var cart_id = self.attr("cart_id");
                cart_json.push({"cart_id":cart_id});
                var data ={"m_id":top_user.m_id,"cart_json":JSON.stringify(cart_json)};
                var url = "";
                if (self.hasClass("icongdel")) {
                    url = "{:U('Api/Cart/cartdelete')}";
                }else{
                    url = "{:U('Api/Cart/cartCollect')}";
                }
                requestUrl(url,data,function(res) {
                    if (res.flag != "success") {
                        alert(res.message);
                    }else{
                        self.parents(".good").remove();
                        viewTotal();
                    }
                });
            });
        }

        function viewTotal(){
            cart_json = [];
            totalprice = 0;
            totalnum = 0;
            $(".good").each(function(){
                var self = $(this);
                var num = self.find(".playgood .goodnum").text();
                var cart_id = self.attr("cart_id");
                cart_json.push({"cart_id":cart_id,"num":num});
                self.find("[carnum]").text( num );

                if (self.find(".top_check").hasClass("on")) {
                    var num = parseInt(self.find(".playgood .goodnum").text());
                    var goodprice = self.find("[goodprice]").attr("goodprice")*100;
                    totalnum += num;
                    totalprice += goodprice*num;
                }
            })
            $(".totalnum").text(totalnum);
            $(".totalprice").text(totalprice/100);
        }
    </script>
</block>