<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8" style="padding: 30px;">
            <div class="span3"></div>
            <div class="span6 hero-unit" style="border:1px solid #3A3A3A;height: 650px;">
                  <div style="text-align: center;">
                      <h2 style="">保证金总额</h2>
                      <h3 style="color: red"><eq name="merchant['integrity_merchant_cost']" value="0">没有办理<else/>￥{$merchant['integrity_merchant_cost']} </eq></h3>
                      <hr>

                      <br>
                      <br>
                      <br>


                      <button class="btn btn-large btn-block btn-primary href" url="{:U('Security/relieve')}" type="button" <eq name="merchant['integrity_merchant_status']" value="2">disabled</eq>>解冻</button>
                      <br>
                      <!--<button class="btn btn-large btn-block btn-primary href" url="{:U('Security/protocol')}" type="button" <eq name="merchant['integrity_merchant_status']" value="1">disabled</eq>>缴纳</button>-->
                  </div>
            </div>
        </div>
        <div class="span2"></div>
    </div>
</block>
