<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1">开启页设置</a></li>
                    </ul>
                </div>
                <div class="widget-ad_desc tab-ad_desc nopadding">
                    <div id="tab1" class="tab-pane active">
                    <form class="form-horizontal" method="post" action="{:U('OpenPage/update')}">
                        <input type="hidden" name="model" value="OpenPage"><input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">开启页图片</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'advert_path','field_name'=>'picture','field_value'=>$row['picture'],'save_path'=>'Advert'))}
                                <span class="help-block">图片比例：1242：2208；图片大小尽量在300K以内</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                    </div>
                    <div id="tab2" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
</block>
