<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('Advert/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-inverse ajax-post" url="{:U('Advert/forbid',array('model'=>'Advert','status'=>0))}" target-form="ids">禁用</button>&nbsp;
                    <button class="btn btn-info ajax-post" url="{:U('Advert/resume',array('model'=>'Advert','status'=>1))}" target-form="ids">启用</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('Advert/delete',array('model'=>'Advert','status'=>9))}" target-form="ids">删除</button>&nbsp;
                    <form action="{:U('Advert/index')}" method="post" class="form">
                        <input type="text" name="company_name" value="{$_REQUEST['company_name']}" placeholder="广告商名称">
                        {$select}
                        <button class="btn btn-inverse">查询</button>
                    </form>
                </div>

                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>广告商名称</th>
                            <th>链接地址</th>
                            <th><i class="icon-pencil"></i>排序</th>
                            <th>创建时间</th>
                            <th>点击量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['company_name']}</td>
                                <td>{$row['ad_url']}</td>
                                <td class="single-edit" data-model="Advert" data-id="{$row['id']}" data-field="sort">{$row['sort']}</td>
                                <td>{$row['create_time']|date='Y-m-d H:i',###}</td>
                                <td>{$row['click']}</td>
                                <td>{$row['status']|get_status_title}</td>
                                <td>
                                    <a href="{:U('Advert/update',array('id'=>$row['id'],'cate_id'=>$row['cate_id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <eq name="row['status']" value="0">
                                        <a href="{:U('Advert/resume',array('model'=>'Advert','ids'=>$row['id'],'status'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="tip-bottom ajax-get">
                                        <span class="label label-info">{$row['status']|show_status_name}</span></a>&nbsp;
                                    <else/>
                                        <a href="{:U('Advert/forbid',array('model'=>'Advert','ids'=>$row['id'],'status'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="tip-bottom ajax-get">
                                        <span class="label label-inverse">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </eq>
                                    <a href="{:U('Advert/delete',array('model'=>'Advert','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function(){
            $('button.move').click(function(){
                if($(this).next('span').css('display') == 'none') {
                    $(this).next('span').show();
                } else {
                    $(this).next('span').hide();
                }
            })
        })
    </script>
</block>