<div class="alert" style="display:none">
	<button class="close" data-dismiss="alert">×</button>
	<strong>错误!</strong>
</div>
<!--<div class="alert alert-success" style="display: none">
	<button class="close" data-dismiss="alert">×</button>
	<strong>Success!</strong>
</div>
<div class="alert alert-info" style="display: none">
	<button class="close" data-dismiss="alert">×</button>
	<strong>Info!</strong>
</div>
<div class="alert alert-error" style="display: none">
	<button class="close" data-dismiss="alert">×</button>
	<strong>Error!</strong>
</div>-->
<style>
	.alert{position:fixed;z-index: 10000000;width:80%;}
</style>
