<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('Action/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-inverse ajax-post" url="{:U('Action/forbid',array('model'=>'Action','status'=>0))}" target-form="ids">禁用</button>&nbsp;
                    <button class="btn btn-info ajax-post" url="{:U('Action/resume',array('model'=>'Action','status'=>1))}" target-form="ids">启用</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('Action/delete',array('model'=>'Action','status'=>9))}" target-form="ids">删除</button>&nbsp;
                </div>

                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>行为名称</th>
                            <th>唯一标识</th>
                            <th>描述</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['name']}</td>
                                <td>{$row['unique_code']}</td>
                                <td>{$row['remark']}</td>
                                <td>{$row['status']|get_status_title}</td>
                                <td>
                                    <a href="{:U('Action/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <eq name="row['status']" value="0">
                                        <a href="{:U('Action/resume',array('model'=>'Action','ids'=>$row['id'],'status'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="tip-bottom ajax-get">
                                        <span class="label label-info">{$row['status']|show_status_name}</span></a>&nbsp;
                                    <else/>
                                        <a href="{:U('Action/forbid',array('model'=>'Action','ids'=>$row['id'],'status'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="tip-bottom ajax-get">
                                        <span class="label label-inverse">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </eq>
                                    <a href="{:U('Action/delete',array('model'=>'Action','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
