<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-plus"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Action/update')}">
                        <input type="hidden" name="model" value="Action">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">行为标识</label>
                            <div class="controls">
                                <input type="text" name="unique_code" value="{$row['unique_code']}">
                                <span class="help-block">必须为英文字母</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">行为名称</label>
                            <div class="controls">
                                <input type="text" name="name" value="{$row['name']}">
                                <span class="help-block">该行为主要操作</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">行为描述</label>
                            <div class="controls">
                                <textarea name="remark">{$row['remark']}</textarea>
                                <span class="help-block">该行为的触发详细描述</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
