<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:void(0);" data-toggle="">基本资料</a>
                        </li>
                    </ul>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Merchant/add')}">
                        <!--// 商家账号-->
                        <div class="control-group">
                            <label class="control-label">商家账号</label>
                            <div class="controls">
                                <input type="text" name="account" ><span id="accountError" style="font-size: 1.1em;" class="text-error"></span>
                                <span class="help-block">请输入手机号</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">店铺名称</label>
                            <div class="controls">
                                <input type="text" name="merchant_name" value="{$row['merchant_name']}">
                                <span class="help-block">请输入店铺名称</span>
                            </div>
                        </div>
                        <!--// 登录密码-->
                        <empty name="row['id']">
                            <div class="control-group">
                                <label class="control-label">登录密码</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="password" name="password">
                                        <button class="btn btn-warning" id="showPass" type="button">显示</button>
                                    </div>
                                    <span class="help-block">请输入最少6位密码</span>
                                </div>
                            </div>
                        </empty>

                        <div class="control-group">
                            <label class="control-label">真实姓名</label>
                            <div class="controls">
                                <input type="text" name="really_name">
                                <span class="help-block">请输入真实姓名</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">联系电话</label>
                            <div class="controls">
                                <input type="text" name="contact_mobile" >
                                <span class="help-block">请输入可以联系到商家的电话</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">性别</label>
                            <div class="controls">
                                <select name="sex" id="" style="width:315px;">
                                    <option value="1" >男</option>
                                    <option value="2" >女</option>
                                </select>
                                <span class="help-block">真实性别</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">联系邮箱</label>
                            <div class="controls">
                                <input type="text" name="contact_email">
                                <span class="help-block">常用联系邮箱</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">联系地址</label>
                            <div class="controls">
                                <input type="text" value="{$row['address']}" name="address">
                                <span class="help-block">常用地址</span>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">地区</label>
                            <div class="controls">
                                <!--// 省-->
                                <select name="province" id="province">
                                    <option value="">请选择地区</option>
                                    <volist name="region" id="re">
                                        <option value="{$re['id']}">{$re['region_name']}</option>
                                    </volist>
                                </select>
                                <!--// 市-->
                                <select name="city" id="city"></select>
                                <!--// 区-->
                                <select name="district" id="district"></select>
                                <span class="help-block">请选择地区</span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="__JS__/region.js"></script>
    <script type="text/javascript">
        $('input[name="account"]').on('change',function(){
            var phone = $(this).val();
            if(phone && /^1[3|4|5|8]\d{9}$/.test(phone)){
                $('#accountError').text('');
                $.post('{:U("Merchant/verifyMerPass")}',{account:phone},function(d){
                    if(d.status == 2){
                        $('#accountError').text(d.msg);
                    }else{
                        $('input[name="contact_mobile"]').val(phone);
                    }
                });
//对的
            } else{
                $('#accountError').text('请输入正确的手机号码');
//不对
            }
        });
        // 点击显示密码
        $('#showPass').on('mousedown',function(){
            $('input[name="password"]').prop("type","text");
        });
        // 松开隐藏密码
        $('#showPass').on('mouseup',function(){
            $('input[name="password"]').prop("type","password");
        });
        // 选择下级列表
        $(document).on('change','#province',function(){
            var url = '{:U("Merchant/getRegionList")}';
            var parent_id = $(this).val();
            var param = '#city';
            getRegion(url,parent_id,param);
        });

        // 选择下级列表
        $(document).on('change','#city',function(){
            var url = '{:U("Merchant/getRegionList")}';
            var parent_id = $(this).val();
            var param = '#district';
            getRegion(url,parent_id,param);
        });

    </script>
</block>
