<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
    		<span class="pfr rigshe pore" linkto="msg.html">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <div class="textcen cenimg">
            <img src="__IMG__/topbghh.png">
        </div>
    </header>
    <div class="content pad10" style="padding: 55px 5px 5px 5px">

        <div class="goodlist ovhid bgb">
            
            <div class="good">
                <div class="imgbag">
                    <img src="__IMG__/good.png" />
                </div>
                <div class="pad0-10">
                    <div class="goodname fs14">
                        法国AOC领衔红酒  意大利干红葡萄酒2支组合
                    </div>
                    <div class="lh30 price fs14 colr">￥<span class="fs16">550.00</span></div>
                    <div class="cole fs12">
                        <span class="mar20">销量：300</span>
                        <span>评论数：500</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/yxMobileSlider.js" ></script>
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">

        var flag= true;//防止ajax请求期间，对此触发请求数据
        var dataargs = {p:1};
        if (top_user) dataargs.m_id = top_user.m_id;

        //添加商品到列表
        function putGoods(data,args) {
            if(data.flag == 'success'){
                var good_product = data.data.good_product;
                if((!good_product || good_product.length == 0 ) && args == "fenye"){
                    $(".content").append('<div class="textcen">没有更多了！</div>');
                }else{
                    var str ="";
                    var link = '{:U("Goods/goodsinfo")}'+(top_user ? '&m_id='+top_user.m_id : '')+'&goods_id=';
                    for(gp in good_product){
                       str += '<div class="good" linkto="'+link+good_product[gp]['goods_id']+'">'
                             +'<div class="imgbag">'
                                +'<img src="'+good_product[gp]['goods_pic']+'" />'
                             +'</div>'
                             +'<div class="pad0-10">'
                                +'<div class="goodname fs14">'
                                    +good_product[gp]["goods_name"]
                                +' </div>'
                                +'<div class="lh30 price fs14 colr">'
                                    +'￥<span class="fs16">'
                                        +good_product[gp]["price"]
                                    +'</span>'
                                +'</div>'
                                +'<div class="cole fs12">'
                                    +'<span class="mar20">销量:'
                                        +good_product[gp]["sales"]
                                    +'</span>'
                                    +'<span>评论数：'
                                        +good_product[gp]["evaluate"]
                                    +'</span>'
                                +'</div>'
                            +'</div>'
                        +'</div>';
                    }
                    if (args == "fenye") {
                        $('.goodlist').append(str);
                    }else{
                        $('.goodlist').html(str);
                    }
                    flag = true;
                }
            }else{
                alert(data.message);
            }

            if (args == "shouci") {
                fenye();
            }
        }


        function getJson(args) {
            console.log(dataargs);
            $.ajax({
                url: '{:U("Api/Discover/discoverGoods")}',
                type: 'POST',
                dataType: 'JSON',
                data: dataargs,
                success : function(data){
                    putGoods(data,args);
                }
            });
        }

        $(function(){
            getJson("shouci");
        });
        function fenye(){
            var $_zd = $(".good").height();//获取每个单项的高度
            var length = 3;//定义预加载的数量，提前三个加载数据
            var $_par = $(".goodlist");//获取包裹容器
            var winheight = $(window).height();//获取窗口高度
            $(function(){
                $(window).on("scroll",function(e){
                    if(flag){
                        var self = $(this);
                        var scrtop = self.scrollTop() + winheight;
                        var docheight = $_par.height();
                        console.log(scrtop + "=" + docheight + "=" + $_zd);
                        if(scrtop > docheight - ( length * $_zd ) ){
                            flag = false;
                            dataargs.p = dataargs.p +1;
                            getJson("fenye");
                        }
                    }
                });
            });
        }
    </script>
</block>