<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
    		<span class="pfr rigshe pore" linkto="msg.html">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <div class="textcen cenimg">
            <img src="__IMG__/topbghd.png">
            <!-- <img src="__IMG__/topbghfw.png"> -->
        </div>
    </header>
    <div class="content" style="padding-top: 50px">
        <div class="shopinfo textcen colb lh25">
            <div class="shoplogo pad10">
                <img class="mat10" src="__IMG__/shoplogo.png">
            </div>
            <div class="fs24">达产官方旗舰店</div>
            <div class="fs12">
                <span class="mar10">销量300</span>
                <span class="">商品500</span>
            </div>
            <div>
                <span class="borbtnb">进店逛逛</span>
            </div>
        </div>

        <div class="pad10 hdgood textcen lh30">
            <div class="bgb" linkto="goodinfo.html">
                <img src="__IMG__/good.png">
                <span class="colr">￥488.00</span>
            </div>
            <div class="bgb">
                <img src="__IMG__/good.png">
                <span class="colr">￥488.00</span>
            </div>
            <div class="bgb">
                <img src="__IMG__/good.png">
                <span class="colr">￥488.00</span>
            </div>
        </div>

        <div class="shopinfo textcen colb lh25">
            <div class="shoplogo pad10">
                <img class="mat10" src="__IMG__/shoplogo.png">
            </div>
            <div class="fs24">达产官方旗舰店</div>
            <div class="fs12">
                <span class="mar10">销量300</span>
                <span class="">商品500</span>
            </div>
            <div>
                <span class="borbtnb">进店逛逛</span>
            </div>
        </div>

        <div class="pad10 hdgood textcen lh30">
            <div class="bgb">
                <img src="__IMG__/good.png">
                <span class="colr">￥488.00</span>
            </div>
            <div class="bgb">
                <img src="__IMG__/good.png">
                <span class="colr">￥488.00</span>
            </div>
            <div class="bgb">
                <img src="__IMG__/good.png">
                <span class="colr">￥488.00</span>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/yxMobileSlider.js" ></script>
    <script type="text/javascript" src="__JS__/touch.min.js"></script>

</block>