<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
    		<span class="pfr local" linkto="msg.html">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <span class="left" linkto="javascript:history.go(-1)"></span>
        <div class="pore mat10 searchdiv">
            <input class="poab fs12 searcharea" placeholder=""/>
            <span class="search pfr"></span>
        </div>
    </header>
    <div class="content bgf" style="padding-top: 50px;">
        <div class="tab">
            <div class="classify">

            </div>
            <div class="conmain">
                
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        var h = document.documentElement?document.documentElement.clientHeight : document.body.clientHeight;
        $(".classify").height(h-50);
        $(".conmain").height(h-80);


        var mid = "";
        if (top_user) {
            mid = top_user.m_id;
        };
        var goods_type = [];
        requestUrl("{:U('Api/Index/classification')}",{m_id:mid},callback);
        function callback( res ){
            if (res.flag == "success") {
                $(".searcharea").attr("placeholder",res.data.app_search);
                goods_type = res.data.goods_type;
                viewGoodsType();
                top_check();
            }
        }

        function viewGoodsType() {
            var str ="";
            for(var goodType of goods_type){
                str += '<div class="top_radio texovh" id="'+goodType.g_t_id+'">'+goodType.type_name+'</div>';
            }
            $(".classify").html(str);
            $(".top_radio").eq(0).addClass('on');
            viewGood2(goods_type[0].type_two);
        }

        function radioAfter(self){
            var typeid = self.attr("id");
            for(var goodType of goods_type){
                if (goodType.g_t_id == typeid) {
                    viewGood2(goodType.type_two);
                }
            }
        }

        function viewGood2(goods){
            var twostr ="";
            for(var goodType1 of goods){
                twostr += '<div class="contitle" id="'+goodType1.g_t_id+'">'+goodType1.type_name+'</div>'
                            +'<div class="warelist disf textcen">';
                for(var goodType2 of goodType1.type_three){
                    twostr += '<div class="ware pore" id='+goodType2.g_t_id+'>'
                        +'<img src="'+goodType2.type_picture+'" />'
                        +'<span class="lh20 disb texovh">'+goodType2.type_name+'</span>'
                    +'</div>';
                }
                twostr += '</div>';
            }
            $(".conmain").html(twostr);
        }
    </script>
</block>