<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
    		<span class="pfr local" linkto="msg.html">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <span class="left" linkto="javascript:history.go(-1)"></span>
        <div class="pore mat10 searchdiv">
            <input class="poab fs12" placeholder="男士正装时尚西服"/>
            <span class="search pfr"></span>
        </div>
    </header>
    <div class="content bgf" style="padding-top: 50px;">
        <div class="tab">
            <div class="classify">
                <div class="on">服装</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
                <div class="">鞋</div>
                <div class="">包</div>
            </div>
            <div class="conmain">
                <div class="contitle">服装</div>
                <div class="warelist disf textcen">

                    <div class="ware pore" linkto="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore" linkto ="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab" linkto =""">欧时力</span>
                    </div>
                    <div class="ware pore" linkto ="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore" linkto ="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore" linkto ="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore" linkto ="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore" linkto ="goodlist.html">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">ONLY</span>
                    </div>
                    <div class="ware pore">
                        <img src="__IMG__/cuslogo.png" />
                        <span class="poab">欧时力</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        var h = document.documentElement?document.documentElement.clientHeight : document.body.clientHeight;
        $(".classify").height(h-50);
        $(".warelist").height(h-80);
    </script>
</block>