<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
    		<span class="pfr local" linkto="msg.html">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <span class="left" linkto="javascript:history.go(-1)"></span>
        <div class="pore mat10 searchdiv">
            <input class="poab fs12 searcharea" placeholder=""/>
            <span class="search pfr"></span>
        </div>
    </header>
    <div class="content bgf" style="padding-top: 50px;">
        <div class="tab">
            <div class="classify">

            </div>
            <div class="conmain">
                
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        var h = document.documentElement?document.documentElement.clientHeight : document.body.clientHeight;
        $(".classify").height(h-50);
        $(".conmain").height(h-80);


        var mid = "";
        if (top_user) {
            mid = top_user.m_id;
        };
        var goods_type = [];
        requestUrl("{:U('Api/Index/classification')}",{m_id:mid},callback);
        function callback( res ){
            if (res.flag == "success") {
                $(".searcharea").attr("placeholder",res.data.app_search);
                goods_type = res.data.goods_type;
                viewGoodsType();
            }
        }

        function viewGoodsType() {
            var str ="";
            for(var goodType of goods_type){
                str += '<div class="top_radio" id="'+goodType.g_t_id+'">'+goodType.type_name+'</div>';
            }
            $(".classify").html(str);
            var twostr ="";
            for(var goodType of goods_type[0].type_two){
                twostr += '<div class="contitle">服装</div>'
                            +'<div class="warelist disf textcen">';
                for(var goodType of goodType.type_three){
                    twostr += '<div class="ware pore">'
                        +'<img src="__IMG__/cuslogo.png" />'
                        +'<span class="poab">欧时力</span>'
                    +'</div>';
                }
                twostr += '</div>';
            }
            $(".conmain").html(twostr);
        }
    </script>
</block>