<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        商品评价
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="pad10-20 bgb">
            <div class="lh40">商品评价（24）</div>
            <div class="fs14 lh20 ratelevel">
                <span class="mar20 bgc borad4">好评（4）</span>
                <span class="mar20 bgc borad4 on">中评（4）</span>
                <span class="mar20 bgc borad4">差评（4）</span>
            </div>
            <div class="mat10 rate borb31">
                <div class="lh40 usinfo">
                    <span class="fr colbl">好评</span>
                    <img src="__IMG__/header.png" />
                    <span class="">Y***U</span>
                </div>
                <div class="lh20 fs14 ma5-0">
                    很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。
                </div>
                <div class="cole">
                    <span class="fs14 cole fr">2016-09-08</span>
                    <span class="mar10">型号：180</span>
                    <span class="">颜色：青蓝</span>
                </div>
            </div>

            <div class="mat10 rate borb31">
                <div class="lh40 usinfo">
                    <span class="fr colbl">好评</span>
                    <img src="__IMG__/header.png" />
                    <span class="">Y***U</span>
                </div>
                <div class="lh20 fs14 ma5-0">
                    很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。
                </div>
                <div class="rateimg">
                    <img src="__IMG__/1.png"/>
                    <img src="__IMG__/2.png"/>
                    <img src="__IMG__/3.png"/>
                    <img src="__IMG__/4.png"/>
                    <img src="__IMG__/2.png"/>
                    <img src="__IMG__/3.png"/>
                    <img src="__IMG__/1.png"/>
                </div>
                <div class="cole">
                    <span class="fs14 cole fr">2016-09-08</span>
                    <span class="mar10">型号：180</span>
                    <span class="">颜色：青蓝</span>
                </div>
            </div>

            <div class="mat10 rate borb31">
                <div class="lh40 usinfo">
                    <span class="fr colbl">好评</span>
                    <img src="__IMG__/header.png" />
                    <span class="">Y***U</span>
                </div>
                <div class="lh20 fs14 ma5-0">
                    很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。
                </div>
                <div class="cole">
                    <span class="fs14 cole fr">2016-09-08</span>
                    <span class="mar10">型号：180</span>
                    <span class="">颜色：青蓝</span>
                </div>
            </div>
            <div class="textcen pad10">
                <span class="pad5-10 lh30 bor1b colbl borad4">查看全部评价</span>
            </div>

        </div>

    </div>
    </body>
</block>
<block name="script">
</block>