<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        商品评价
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="pad10-20 bgb">
            <div class="lh40">商品评价（24）</div>
            <div class="fs14 lh20 ratelevel">
                <span class="mar20 bgc borad4">好评（4）</span>
                <span class="mar20 bgc borad4 on">中评（4）</span>
                <span class="mar20 bgc borad4">差评（4）</span>
            </div>
            <div class="mat10 rate borb31">
                <div class="lh40 usinfo">
                    <span class="fr colbl">好评</span>
                    <img src="__IMG__/header.png" />
                    <span class="">Y***U</span>
                </div>
                <div class="lh20 fs14 ma5-0">
                    很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。
                </div>
                <div class="cole">
                    <span class="fs14 cole fr">2016-09-08</span>
                    <span class="mar10">型号：180</span>
                    <span class="">颜色：青蓝</span>
                </div>
            </div>

            <div class="mat10 rate borb31">
                <div class="lh40 usinfo">
                    <span class="fr colbl">好评</span>
                    <img src="__IMG__/header.png" />
                    <span class="">Y***U</span>
                </div>
                <div class="lh20 fs14 ma5-0">
                    很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。
                </div>
                <div class="rateimg">
                    <img src="__IMG__/1.png"/>
                    <img src="__IMG__/2.png"/>
                    <img src="__IMG__/3.png"/>
                    <img src="__IMG__/4.png"/>
                    <img src="__IMG__/2.png"/>
                    <img src="__IMG__/3.png"/>
                    <img src="__IMG__/1.png"/>
                </div>
                <div class="cole">
                    <span class="fs14 cole fr">2016-09-08</span>
                    <span class="mar10">型号：180</span>
                    <span class="">颜色：青蓝</span>
                </div>
            </div>

            <div class="mat10 rate borb31">
                <div class="lh40 usinfo">
                    <span class="fr colbl">好评</span>
                    <img src="__IMG__/header.png" />
                    <span class="">Y***U</span>
                </div>
                <div class="lh20 fs14 ma5-0">
                    很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。很棒，衣服穿起来显身材，品质也不错。
                </div>
                <div class="cole">
                    <span class="fs14 cole fr">2016-09-08</span>
                    <span class="mar10">型号：180</span>
                    <span class="">颜色：青蓝</span>
                </div>
            </div>
            <div class="textcen pad10">
                <span class="pad5-10 lh30 bor1b colbl borad4">查看全部评价</span>
            </div>

        </div>

    </div>
    </body>
</block>
<block name="script">
    <script>
        var flag= true;//防止ajax请求期间，对此触发请求数据
        var viewType = "good";
        var dataargs = {p:1};
        var g_t_id ="{$g_t_id}";
        var keywords = "{$keywords}";
        if(g_t_id)dataargs['g_t_id'] = g_t_id;
        if(keywords)dataargs['keywords'] = keywords;
        var link = '/index.php?m=Wap&c=Goods&a=goodsinfo&goods_id=';
        //添加商品到列表
        function putGoods(data,args) {
            if(data.flag == 'success'){
                var goods = data.data.goods;
                if((!goods || goods.length == 0 ) && args == "fenye"){
                    $(".content").append('<div class="textcen">没有更多了！</div>');
                }else{
                    var str ="";
                    for(g in goods){
                       str += '<div class="'+viewType+' bgb" linkto="'+link+goods[g]['goods_id']+'"> <div class="imgbag"> <img src="'+goods[g]['goods_pic']+'" /> </div> <div class="pad0-10"> <div class="goodname lh20 ovhid"> '+goods[g]['goods_name']+'</div> <div class="lh30 price fs14 colr">￥<span class="fs16"> '+goods[g]['price']+'</span></div> <div class="cole fs12"> <span class="mar20">销量：'+goods[g]['sales']+'</span> <span>评论数：'+goods[g]['comment_num']+'</span> </div> </div> </div>';
                    }
                    if (args == "fenye") {
                        $('.goodlist').append(str);
                    }else{
                        $('.goodlist').html(str);
                    }
                    flag = true;
                    top_linkto();
                }
            }else{
                alert(data.message);
            }

            if (args == "shouci") {
                fenye();
            }
        }

        //
        $(".changeType").on('click',function(){
            var price_upper = $(".price_upper").val();
            var price_lower = $(".price_lower").val();
            var g_t_id = $(".goodsType").val();
            if (price_lower)dataargs.price_lower = price_lower;
            if (price_upper)dataargs.price_upper = price_upper;
            if (g_t_id)dataargs.g_t_id = g_t_id;
            if (g_t_id == "all") delete dataargs.g_t_id;
            getJson("shouci");
            $(".dosifting").removeClass("on");
            $(".sifting").slideUp();
        });
        //切换视图回调函数
        function jeepAfter(self){
            if (self.hasClass("on")) {
                viewType = "good";
            }else{
                viewType = "goodh";
            }
        }


        //头部排序选择回调
        function checkAfter(self){
            if (self.hasClass("complex_order")) {
                if (self.hasClass("on")) {
                    delete dataargs.sales_order;
                    delete dataargs.price_order;
                    self.siblings().removeClass("on");
                }
            }else if(self.hasClass("sales_order")){
                if (self.hasClass("on")) {
                    dataargs.sales_order = 1;
                }else{
                    dataargs.sales_order = 2;
                }
                self.siblings(".complex_order").removeClass("on");
            }else if(self.hasClass("price_order")){
                if (self.hasClass("on")) {
                    dataargs.price_order = 1;
                }else{
                    dataargs.price_order = 2;
                }
                self.siblings(".complex_order").removeClass("on");
            }else{
                return;
            }
            dataargs.p = 1;
            getJson("shouci");
        }


        function getJson(args) {
            console.log(dataargs);
            $.ajax({
                url: '{:U("Api/Evaluate/viewFullEvaluation")}',
                type: 'POST',
                dataType: 'JSON',
                data: dataargs,
                success : function(data){
                    putGoods(data,args);
                }
            });
        }

        function selectAfter(self) {

        };

        $(function(){
            // getJson("shouci");
        });
        function fenye(){
            var $_zd = $("."+viewType).height();//获取每个单项的高度
            var length = 3;//定义预加载的数量，提前三个加载数据
            var $_par = $(".goodlist");//获取包裹容器
            var winheight = $(window).height();//获取窗口高度
            $(function(){
                $(window).on("scroll",function(e){
                    if(flag){
                        var self = $(this);
                        var scrtop = self.scrollTop() + winheight;
                        var docheight = $_par.height();
                        console.log(scrtop + "=" + docheight + "=" + $_zd);
                        if(scrtop > docheight - ( length * $_zd ) ){
                            flag = false;
                            dataargs.p = dataargs.p +1;
                            getJson("fenye");
                        }
                    }
                });
            });
        }
    </script>

</block>