<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
    		<span class="pfr rigshe">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        <span class="left" linkto="javascript:history.go(-1)"></span>
        订单详情
    </header>
    <div class="content" style="padding: 50px 0px 70px;">
        <!--已结束 iconyjs  待支付 icondzf  待收货 icondsh    待发货 icondfh   待评价  icondpj   成功 iconocg-->
        <div class="lh40 iconyjs">等待评价</div>
        <div class="bgb">
            <div class="busto cole borb31">
                <div>
                    承运公司：圆通快递
                    <span class="fr mar5">95554</span>
                </div>
                <div>运单号：88828383238945894</div>
            </div>
            <div class="ediadd cole borb31">
                <div>
                    收货人：<span class="colz">张涛</span>
                    <span class="fr mar5">1888888888</span>
                </div>
                <div>收货地址：天津市南开区鑫茂科技园B区1号楼1809</div>
            </div>
        </div>

        <div class="order bgb ovhid">
            <div class="lh40 bgb pad0-20 fs14 cole">
                <span class="">MEAKU时尚男装</span>
                <span class="right mat10"></span>
            </div>
            <div>
                <div class="good bgf pad10">
                    <div class="imgbag">
                        <img src="__IMG__/good.png" />
                    </div>
                    <div class="pad0-10">
                        <div class="goodname">
                            法国AOC领衔红酒  意大利干红葡萄酒2支组合
                        </div>
                        <div class="cole fs12">
                            <span class="mar20">颜色分类：灰色</span>
                            <span>尺码：175</span>
                        </div>
                        <div class="lh30 price fs14 colr">
                            <span class="colz fr">X1</span>
                            ￥<span class="fs16 mar10">550.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lh50 bgb pad0-20">
            <div class="borb31">
                <div><span class="fr cole">在线支付</span>付款方式:</div>
            </div>
            <div class="borb31 fs14">
                <span class="disib" style="width: 80px;">买家留言：</span>
                <span class="cole">请尽快发货</span>
            </div>
            <div class="borb31">
                <div><span class="fr fs14">￥12.00</span>运费:</div>
            </div>
            <div class="borb31">
                <div><span class="fr colr">￥550.00</span>应付款：</div>
            </div>
        </div>
        <div class="lh30 bgb pad10 fs14 cole mat10">
            <div><span class="fr">10040010020010</span>订单编号：</div>
            <div><span class="fr">2016-04-08 20:43</span>下单时间：</div>
        </div>
        <div class="lh40 disf bgb mat10">
            <div>
                <span class="iconolx">联系卖家</span>
            </div>
            <div>
                <span class="iconots">投诉卖家</span>
            </div>
        </div>
    </div>
    <div class="botarea bgb pad0-20">
        <span class="borbtnh fr mat10 fs12">立即评价</span>
        <span class="borbtnh fr mat10 fs12 mar10">申请售后</span>
    </div>
    </body>
</block>
<block name="script">
    if (!top_user)getUserInfo("{:U('Member/login')}");
    var order_id = "{$_REQUEST['order_id']}";
    requestUrl("{:U('Api/Order/userOrderDetails')}",{"m_id":top_user.m_id,"order_id":order_id},callback);
    function callback(res){
        
    }




    function getBtn(status,city_order_id,com,nu) {
            var str = "";
            switch (status){
                case "0":
                str = '<span class="disib bor1b colbl borad4 pad0-10 mar10" onclick="updOrderType('+0+','+city_order_id+')">立即付款</span><span class="disib bor1b colbl borad4 pad0-10" onclick="updOrderType('+1+','+city_order_id+')">取消订单</span>';
                break;
                case "2":
                str = '<span class="disib bor1b colbl borad4 pad0-10" onclick="updOrderType('+1+','+city_order_id+')">取消订单</span>';
                break;
                case "3":
                str = '<span class="disib bor1b colbl borad4 pad0-10 mar10" onclick="updOrderType('+5+','+city_order_id+',\''+com+'\',\''+nu+'\')">物流详情</span><span class="disib bor1b colbl borad4 pad0-10" onclick="updOrderType('+2+','+city_order_id+')">确认收货</span>';
                break;
                case "4":
                str = '<span class="disib bor1b colbl borad4 pad0-10 mar10" onclick="updOrderType('+5+','+city_order_id+',\''+com+'\',\''+nu+'\')">物流详情</span><span class="disib bor1b colbl borad4 pad0-10" onclick="updOrderType('+4+','+city_order_id+')">立即评价</span>';
                break;
                case "5":
                str = '<span class="disib bor1b colbl borad4 pad0-10" onclick="updOrderType('+3+','+city_order_id+')">删除订单</span>';
                break;
                case "6":
                str = '<span class="disib bor1b colbl borad4 pad0-10" onclick="updOrderType('+3+','+city_order_id+')">删除订单</span>';
                break;
            }
            return str;
        }


        function updOrderType(status,order_id,com,nu){
            console.log(status+"==="+order_id);
            var data = {
                "m_id" : dataargs.m_id,
                "order_id" : order_id
            };
            if (status == "0") {
                window.location.href = "{:U('Order/paytype')}&order_id="+order_id;
            }else if (status == "1") {
                var flag = confirm("你确认取消订单吗？");
                if (flag) {
                    requestUrl("{:U('Api/Order/cancellationOrder')}",data);
                }
                location.reload();
            }else if (status == "2") {
                var flag = confirm("你确认收货吗？");
                if (flag) {
                    requestUrl("{:U('Api/Order/confirmOrder')}",data);
                }
                location.reload();
            }else if (status == "3") {
                var flag = confirm("删除后，将再也看不到该订单了哦！");
                if (flag) {
                    requestUrl("{:U('Api/Order/deleteOrder')}",data);
                }
                location.reload();
            }else if (status == "4") {
                var length = $("[oid="+order_id+"]").size();

                if ( length > 1) {
                    window.location.href = "{:U('Order/ratelist')}&order_id="+order_id;
                }else{
                    window.location.href = "{:U('Order/rate')}&order_id="+order_id;
                }
            }else if (status == "5") {
                window.location.href = "http://m.kuaidi100.com/index_all.html?type=" + com + "&postid=" + nu;
            }
        }

        function getType(status){
            var str = "";
            switch (status){
                case "0":
                str = '待支付';
                break;
                case "1":
                str = '商家待接单';
                break;
                case "2":
                str = '待发货';
                break;
                case "3":
                str = '待收货';
                break;
                case "4":
                str = '待评价';
                break;
                case "5":
                str = '已完成';
                break;
                case "6":
                str = '已取消';
                break;
                case "7":
                str = '售后中';
                break;
            }
            return str;
        }
</block>