<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        发表评价
    </header>


    <div class="content" style="padding-top: 50px;">
        <div class="order bgb ovhid">
            <div>
                <div class="good pad10">
                    <div class="imgbag">
                        <img src="__IMG__/good.png" class="goods_pic"/>
                    </div>
                    <div class="pad0-10">
                        <div class="goodname">
                            
                        </div>
                        <div class="cole fs12">
                            <span class="mar20 attr_con_name"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fs14 lh20 bgb pad10-20 setlevel">
                <span class="borbtnh top_radio">好评</span>
                <span class="borbtnh borad4 top_radio on">中评</span>
                <span class="borbtnh borad4 top_radio">差评</span>
            </div>
        </div>

        <div class="mat20 bgb pore fs16"  style="height: 100px;">
            <textarea class="bgb poab pad10-20 pfl width fs16" placeholder="写下对商品的评价，对他人帮助很大哦~" style="height: 100px;"></textarea>
        </div>

        <div class="pad0-20 bgb mat20">
            <div class="lh50">你也可以上传照片~</div>

            <div class="pad10 upimg ovhid borb31">
                <div class="pore upbtn">
                    <img src="__IMG__/uploadfile.png" />
                    <input type="file" class="poab selpstime"/>
                </div>
            </div>

        </div>

        <div class="botarea bge textcen colb">
            <span class="disib bgz pad0-20 borad4 mat5"><span class="pad0-20 lh40">提交</span></span>
        </div>
    </div>
    </body>
</block>
<block name="script">
<script type="text/javascript">
    if (!top_user) getUserInfo("{:U('Member/login')}");
    var good = {};
    var ratejson = sessionStorage.getItem("rategood");
    if (ratejson) {
        good = JSON.parse(ratejson);
        viewGood();
    }else{
        var oid = "{$_REQUEST['order_id']}";
        requestUrl("{:U('Api/Evaluate/evaluationLists')}",{"m_id":top_user.m_id,"order_id": oid },callback);
    }
    function callback( res ){
        if (res.flag == "success") {
            good = res.data.goods[0];
            viewGood();
        }else{
            alert(res.message);
        }
    }

    function viewGood(){
        $(".goods_pic").attr("src",good.goods_pic);
        $(".goodname").text(good.goods_name);
        $(".attr_con_name").text(good.attr_con_name);
    }
</script>
<script type="text/javascript">
        function ajax(){
            var filesize = this.files[0].size;
            if (filesize > 10000*1024) {
                alert("请上传大小在500k以下的图片");
                return false;
            }
            var parent = $(this).parent();
            var files = this.files;
            var picname = files[0].name;
            var reader = new FileReader();
            reader.onload = function(e){
                var src = e.target.result;
                $.ajax({
                    type:"post",
                    url:"{:U('Member/uploadPic')}",
                    data: {"pic":src,"pic_name":picname},
                    dataType : "json",
                    success : function(data){
                        var data = JSON.parse(data);
                        if(data['flag'] == "success"){
                            var curpic =  $("<div/>",{"class":"pore","evaluate_pic":data['data']['id']}).html('<img src="'+data['data']['path']+'" /><span class="poab icondell"></span>');
                            parent.before(curpic);
                            curpic.find('.icondell').on('click', function() {
                                if (confirm("确认删除当前图片吗？")) {
                                    $(this).parent().remove();
                                    show();
                                }
                            });
                            show();
                        }
                    }
                });
            }
            reader.readAsDataURL(files[0]);
        }
        $("input[type='file']").on('change',ajax);


        function show(){
            var size = $(".upimg > div").size();
            if (size > 3) {
                $(".upbtn").hide();
            }else{
                $(".upbtn").show();
            }
        }
    </script>
</block>