<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
    		<span class="pfr rigshe">
    			<span class="jiaob poab bgr colb fs12 textcen lh14">3</span>
    		</span>
        评价商品
    </header>
    <div class="content" style="padding-top: 50px;">
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/touch.min.js"></script>

    <script type="text/javascript">
        if (!top_user)getUserInfo("{:U('Member/login')}");
        var oid = "{$_REQUEST['order_id']}";
        requestUrl("{:U('Api/Evaluate/evaluationLists')}",{"m_id":top_user.m_id,"order_id": oid },callback);
        var goods = [];
        function callback( res ){
            if (res.flag == "success") {
                goods = res.data.goods;
                if (goods.length > 0) {
                    var str = "";
                    for(var index in goods){
                        var good = goods[index];
                        str += '<div class="order mat5 bgb ovhid mat20">'
                                    +'<div class="mat10">'
                                        +'<div class="good bgf pad10">'
                                            +'<div class="imgbag">'
                                                +'<img src="'+good.goods_pic+'" />'
                                            +'</div>'
                                            +'<div class="pad0-10">'
                                                +'<div class="goodname fs14">'
                                                    +good.goods_name
                                                +'</div>'
                                                +'<div class="cole fs12">'
                                                    +'<span class="mar20">'+good.attr_con_name+'</span>'
                                                +'</div>'
                                                +'<div class="lh30 price fs14 colr">'
                                                    +'<span class="colz fr">X'+good.num+'</span>'
                                                    +'￥<span class="fs16 mar10">'+good.price+'</span>'
                                                +'</div>'
                                            +'</div>'
                                        +'</div>'
                                    +'</div>'
                                    +'<div class="lh25 pad10 textrig bgb">'
                                        +'<span class="borbtnh pad0-10" '+((good.type==2) ? 'onclick="gorate('+index+')"' : '')+'>'+((good.type==2) ? '立即评价' : '已评价')+'</span>'
                                    +'</div>'
                                +'</div>';
                    }
                    $(".content").html( str );
                }
            }else{
                alert(res.message);
            }
        }

        function gorate(index){
            var good = goods[index];
            console.log(good);
            sessionStorage.setItem("rategood",JSON.stringify(good));
            window.location.href = "{:U('Order/rate')}";
        }
    </script>
</block>