<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz">
        <div class="left">订单详情</div>
    </header>
    <div class="content" style="padding: 50px 0px 10px;">
        <div class="ordaddress mat10" linkto="{:U('Member/addresslist')}">
            <span class="right fr" style="margin-top: 40px;"></span>
            <!-- 新建地址 -->
            <div class="newadd fs12 cole">
                请新建收货地址以确保商品顺利到达
            </div>
            <!-- 已有地址    修改地址-->
            <div class="ediadd">
                <div>
                    收货人：<span class="name">张涛</span>
                    <span class="fr mar5 tel"></span>
                </div>
                <div class="">收货地址：<span class="address"></span></div>
            </div>
        </div>
        <div class="lh50 bgb mat10 pad0-20 merchant_name"></div>
        <div class="setgood">
            
        </div>

        <div class="lh50 bgb pad0-20 borb31">
            <div><span class="fr">在线支付</span>付款方式</div>
        </div>

        <div class="lh50 bgb pad0-20 borb31">
            <div><span class="fr fs14 delivery_cost">￥12.00</span>运费</div>
        </div>
        <div class="lh50 borb31 bgb pad0-20">
            <span class="disib fs14" style="width: 80px;">买家留言：</span>
            <input type="text" placeholder="选填"/>
        </div>

        <div class="lh50 textrig fs14 cole bgb">
            <span class="mar10">共<span class="total_num"></span>件商品</span>
            <span class="">合计:<font class="colr">￥<span class="total_price"></span></font></span>
        </div>
    </div>

    <div class="botarea bgb">
        <div class="lh50 bgbtn colb pad0-20 fr">提交订单</div>
        <div class="textrig lh25">
            <div>合计:<span class="colr mar10">￥<span class="total_price"></span></span></div>
            <div class="fs12 cole">合计返利：<span class="mar10">￥<span class="return_total_price"></span></span></div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
        var setorder = sessionStorage.getItem("setorder");
        if (setorder) {
            var setobj = JSON.parse(setorder);
            console.log(setobj);
            var data = {
                "m_id" : setobj.m_id,
                "goods_id" : setobj.goods_id,
                "attr_con_id" : setobj.attr_con_json,
                "num" : setobj.num
            };
            requestUrl("{:U('Api/Order/readyAddOrder')}",data,viewPage);
        }

        //渲染视图
        function viewPage(res){
            if (res.flag != "success") {
                alert(res.message);
                history.go(-1);
            }else{
                var address = res.data.address;
                var goods_info = res.data.goods_info;
                if ( address && address.is_default == "0") {
                    $(".newadd").show();
                    $(".ediadd").hide();
                }else{
                    $(".ediadd").show();
                    $(".newadd").hide();
                    viewAdd(address);
                }
                $(".merchant_name").text(goods_info.merchant_name);
                $(".delivery_cost").text(goods_info.delivery_cost);
                $(".total_price").text(goods_info.total_price);
                $(".return_total_price").text(goods_info.return_total_price);
                $(".total_num").text(goods_info.num);
                viewGood(goods_info);
            }        
        }

        //渲染收货地址
        function viewAdd( address ){
            $(".tel").text(address.tel);
            $(".name").text(name);
            $(".address").text(address.address);
            $(".ediadd").attr("id",address.address_id);

        }
        //渲染商品 
        function viewGood(good){
            var str = "";
            console.log(good);
            if (typeof good == 'object') {
                str += '<div class="good bge pad10">'
                +'<div class="imgbag">'
                    +'<img src="'+good.goods_pic+'"/>'
                +'</div>'
                +'<div class="pad0-10">'
                    +'<div class="goodname fs14">'
                        +good.goods_name
                    +'</div>'
                    +'<div class="cole fs12">'
                        +'<span class="mar20">'+good.product+'</span>'
                    +'</div>'
                    +'<div class="lh30 price fs14 colr">'
                        +'<span class="colz fr">X'+good.num+'</span>'
                        +'￥<span class="fs16 mar10 goodprice">'+good.price+'</span>'
                        +'<span class="fs12">消费返利：￥'+good.return_price+'</span>'
                    +'</div>'
                +'</div>'
            +'</div>';
            }
            $(".setgood").html(str);
        }
    </script>
</block>