<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-plus"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('LotteryBackground/update')}" id="form">
                        <input type="hidden" name="model" value="LotteryBackground">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">大转轮背景</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'carousel_pic','field_name'=>'carousel_pic','field_value'=>$row['carousel_pic'],'save_path'=>'Lottery'))}
                                <span class="help-block">文章封面图长宽比例 3:2</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">红包背景</label>
                            <div class="controls">
                                {:hook('upload',array('unique_sign'=>'redbag_pic','field_name'=>'redbag_pic','field_value'=>$row['redbag_pic'],'save_path'=>'Lottery'))}
                                <span class="help-block">文章封面图长宽比例 3:2</span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>