<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-plus"></i>
                    </span>
                    <h5></h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('AuthGroup/update')}">
                        <input type="hidden" name="model" value="AuthGroup">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">组名称</label>
                            <div class="controls">
                                <input type="text" name="title" value="{$row['title']}">
                                <span class="help-block">15个字以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">组描述</label>
                            <div class="controls">
                                <textarea name="description">{$row['description']}</textarea>
                                <span class="help-block">描述改组的主要进行哪些操作，80个字以内</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
