<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('Config/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('Config/delete',array('model'=>'Config','status'=>9))}" target-form="ids">删除</button>&nbsp;
                    <form action="{:U('Config/index')}" method="post" class="form">
                        <input type="text" name="name" value="{$_REQUEST['name']}" placeholder="输入配置名称">
                        <div class="btn-group">
                            <button type="button" class="btn checked" data-default="--全部--"></button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <!--<span class="checked" data-default="--全部--"></span>--><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-value="" data-title="--全部--">
                                    <a href="javascript:void(0)">--全部--</a>
                                </li>
                                <volist name="groups" id="row">
                                    <li data-value="{$key}" data-title="{$row}" <eq name="key" value="$_REQUEST['config_group']">class="selected"</eq>>
                                        <a href="javascript:void(0)">{$row}</a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <input type="hidden" name="config_group" value="{$_REQUEST['config_group']}">
                        <button class="btn btn-inverse">查询</button>
                    </form>
                </div>

                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>配置名称</th>
                            <th>标题</th>
                            <th>分组</th>
                            <th>类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['name']}</td>
                                <td>{$row['title']}</td>
                                <td>{$row['config_group'],CONFIG_GROUP_LIST|get_config_title}</td>
                                <td>{$row['type'],CONFIG_TYPE_LIST|get_config_title}</td>
                                <td>
                                    <a href="{:U('Config/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <a href="{:U('Config/remove',array('model'=>'Config','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
