<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        爱心帮扶
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="slider">
            <ul>
                <li><a href="#" target="_blank"><img src="__IMG__/lovehelp.png" alt="" class="width"></a></li>
                <li><a href="#" target="_blank"><img src="__IMG__/lovehelp.png" alt="" class="width"></a></li>
                <li><a href="#" target="_blank"><img src="__IMG__/lovehelp.png" alt="" class="width"></a></li>
                <li><a href="#" target="_blank"><img src="__IMG__/lovehelp.png" alt="" class="width"></a></li>
            </ul>
        </div>
        <div class="pad0-20 lh40 disf bgb cole shopbar">
            <div class="pad0-20 top_radio on">正在进行</div>
            <div class="pad0-20 top_radio">查看往期</div>
        </div>
        <div class="goodlist ovhid mat10 loveing_project">
            
        </div>

        <div class="goodlist ovhid mat10 loveout_project" style="display:none">
        </div>

    </div>
    <div class="disib gohead top_gohead">
        <img src="__IMG__/gohead.png" />
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/yxMobileSlider.js" ></script>
    <script type="text/javascript" src="__JS__/touch.min.js"></script>
    <script type="text/javascript">
        var w = document.documentElement?document.documentElement.clientWidth:document.body.clientWidth;
        $(".slider").yxMobileSlider({width:w,height:160,during:3000});
    </script>
    <script type="text/javascript">
        requestUrl("{:U('Api/DonateLove/donateLoveList')}",{},callback);
        function callback( res ){
            if (res.flag == "success") {
                var love_pic = res.data.love_pic;
                var loveing_project = res.data.loveing_project;
                var loveout_project = res.data.loveout_project;
                viewLove(loveing_project,$(".loveing_project"));
                viewLove(loveout_project,$(".loveout_project"));
                top_range();
            }else{
                alert(res.message);
            }
        }

        function viewLove( project ,ele){
            var str = "";
            for(var obj of project){
                str += '<div class="good bgb">'
                    +'<div class="imgbag">'
                        +'<img src="'+obj.path+'" linkto="{:U('Love/loveinfo')}&dl_id='+obj.dl_id+'"/>'
                    +'</div>'
                    +'<div class="borb31" style="padding:0px 10px;">'
                        +'<div class="lh30">'+obj.project_name+'</div>'
                        +'<div class="lh14 fs12" style="height:40px;overflow:hidden;">'+obj.project_introduction+'</div>'
                        +'<div class="mat5 pore range" completeness="'+obj.completeness+'" style="height: 6px;border: 3px;"><span></span></div>'
                        +'<div class="cole fs12 mat5">'
                            +'<span class="mar20 fr">目标<span class="colbl">'+obj.project_aims_money+'</span>千元</span>'
                            +'<span class="">共<span class="colbl">'+obj.order_num+'</span>份爱心</span>'
                        +'</div>'
                    +'</div>'
                +'</div>';
            }
            ele.html(str);
            top_linkto();
        }

        function radioAfter( self ){
            $(".loveing_project,.loveout_project").toggle()
        }
    </script>
</block>