<extend name="Public/base" />
<block name="main">
    <body>
        <header class="bgz colb">
            <span class="left" linkto="javascript:history.go(-1)"></span>
            <span class="pfr mar10" linkto="{:U('IntegralMall/integralmall')}">
                积分商城
            </span>
            签到
        </header>
        <div class="content bgb" style="margin-top: 50px;">
            <div class="invitetop" style="background-image: url('__IMG__/arriveat.png');height: 200px;"></div>
            <div class="textcen pad20">
                <div class="fs14 cole pad20">我的积分：<span class="colbl integral"></span></div>
                <div class="getjifen fs12 pore">
                    <div class="lineh"></div>
                    <div class="linecon poab">
                        <div class="jifenday pore">
                            <div class="arc one"></div>
                            <div class="msg">连续1天</div>
                        </div>
                        <div class="jifenday pore">
                            <div class="arc two"></div>
                            <div class="msg">连续2天</div>
                        </div>
                        <div class="jifenday pore">
                            <div class="arc three"></div>
                            <div class="msg">连续3天</div>
                        </div>
                        <div class="jifenday pore">
                            <div class="arc four"></div>
                            <div class="msg">连续4天</div>
                        </div>
                        <div class="jifenday pore">
                            <div class="arc five"></div>
                            <div class="msg">连续5天</div>
                        </div>
                        <div class="jifenday pore">
                            <div class="arc six"></div>
                            <div class="msg">连续6天</div>
                        </div>
                        <div class="jifenday pore">
                            <div class="arc seven"></div>
                            <div class="msg">连续7天</div>
                        </div>
                    </div>
                </div>
                <div class="smbtn pad0-20 bgz lh40 borad4 colb disib mat20">签到</div>
            </div>
        </div>
        <img src="../img/adbot.png" style="bottom: 0px;width: 100%;max-height:120px" class="poab adPosi"/>
    </body>
</block>
<block name="script">
<script type="text/javascript">
    if (!top_user) getUserInfo("{:U('Member/login')}");
    requestUrl("{:U('Api/CheckIn/checkShow')}",{"m_id":top_user.m_id},callback);
    function callback(res){
        if (res.flag == "success") {
            var adPositionPic = res.data.adPositionPic;
            var intrgral_member = res.data.intrgral_member;
            var integral_rule = res.data.integral_rule;
            $(".integral").text(intrgral_member.integral);
            $(".adPosi").attr("src",adPositionPic[0].pic);
            for(var key in integral_rule){
                $("."+key).text(integral_rule[key]);
                if ($("."+key).index() < intrgral_member.day) {
                    $("."+key).addClass("on");
                }
            }
        }else{
            alert(res.message);
        }
    }
    </script>
</block>