<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>转盘抽奖</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__CSS__/public.css" />
    <link href="__CSS__/reset.css" rel="stylesheet"/>
    <script src="__JS__/jquery.js"></script>
    <script src="__JS__/public.js"></script>
    <script src="__JS__/Rotate.js"></script>
    <style>
        *{padding:0; margin:0;}
    </style>
</head>
<body>
<neq name="app_type" value="app">
    <header class="bgz colb">
        <span class="left"></span>抽奖结果
    </header>
</neq>

<div class="content pore" <neq name="app_type" value="app">style="margin-top:50px;"</neq>>
    <img src="{$back_pic}" class="width"/>
</div>
</body>
<script type="text/javascript" src="__JS__/touch.min.js"></script>
</html>