<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        联系方式
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="textcen lh50 cole fs14">请填写您的联系方式，等待客服人员与您联系</div>
        <div class="formline pad0-20">
            <div class=""><input type="text" class="name" placeholder="姓名"/></div>
            <div class=""><input type="text" class="myphone" placeholder="联系电话"/></div>
            <div class=""><input type="text" class="address" placeholder="送货地址"/></div>
        </div>
        <div class="mat30 big-btn bgz">确认</div>
    </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
        if (!top_user)getUserInfo("{:U('Member/login')}");
        var integral_id = "{$_REQUEST['integral_id']}";
        $(".big-btn").on("click",function(){
            var name = $(".name").val();
            var phone = $(".myphone").val();
            var address = $(".address").val();
            if (integral_id && name && phone && address) {
                var data = {
                    "name" : name,
                    "m_id" : top_user.m_id,
                    "phone" : phone,
                    "address" : address,
                    "integral_id" : integral_id
                };
                requestUrl("{:U('Api/MerActive/addIntegral')}",data,callback);
            }else{
                alert("请填写完整信息！");
            }
        });
        function callback( res ){
            alert(res.message);
            if (res.flag == "success") {
                window.location.href = "{:U('IntegralMall/integralmall')}";
            }
        }
    </script>
</block>