<extend name="Public/base" />
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        消息详情
    </header>
    <div class="content" style="padding-top: 70px;">
        <div class="pad0-20">
            <div class="lh45 fs24 texovh textcen" style="height: 45px;">6元精品芝士，每天不重样</div>
            <div class="">
                精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士精品芝士
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">

</block>