<extend name="Public/base" />
<block name="css">
    <style>
        /*消息中心*/
        .msgdoc{
            padding:10px 80px 10px 20px;
        }
        .catinfo{
            top: 50%;
            right: 0px;
            line-height: 16px;
            transform: translateY(-50%);
        }
    </style>
</block>
<block name="main">
    <body>
    <header class="bgz colb">
        <span class="left" linkto="javascript:history.go(-1)"></span>
        系统消息
    </header>
    <div class="content" style="padding-top: 50px;">
        <div class="pad0-20">
            <div class="label textcen fs12 cole">08-08 11:50</div>
            <div class="borad4 bgb msgdoc pore" linkto="msginfo.html">
                <div class="fs14 lh45">六元精品芝士，每天不重样，让你吃个够！</div>
                <div class="lh45 poab catinfo">
                    <span class="right fr"></span>
                    查看详情
                </div>
            </div>

            <div class="label textcen fs12 cole">08-08 11:50</div>
            <div class="borad4 bgb msgdoc pore" linkto="msginfo.html">
                <div class="fs14 lh45">六元精品芝士，每天不重样，让你吃个够！</div>
                <div class="lh45 poab catinfo">
                    <span class="right fr"></span>
                    查看详情
                </div>
            </div>

            <div class="label textcen fs12 cole">08-08 11:50</div>
            <div class="borad4 bgb msgdoc pore" linkto="msginfo.html">
                <div class="fs14 lh45">六元精品芝士，每天不重样，让你吃个够！</div>
                <div class="lh45 poab catinfo">
                    <span class="right fr"></span>
                    查看详情
                </div>
            </div>

            <div class="label textcen fs12 cole">08-08 11:50</div>
            <div class="borad4 bgb msgdoc pore" linkto="msginfo.html">
                <div class="fs14 lh45">六元精品芝士，每天不重样，让你吃个够！</div>
                <div class="lh45 poab catinfo">
                    <span class="right fr"></span>
                    查看详情
                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">

</block>